body{
    background: linear-gradient(#f5f6f7, 70% , #13678A);
    height: 100vh;
}
.aspirantes{
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url("universidad.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-opacity: 0.8%;
}
capa{
    position: absolute;
    background: #38273b;
    height: 50%;
    width:59%;
    opacity: 0.7;
}